<!DOCTYPE html>
<html lang="nl">
  <head>
    <title>P+R Utrecht Science Park Parkeerplekken</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Vind hier P+R Utrecht Science Park Parkeerplekken status.">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section id="information">
      <h1>P+R Utrecht Science Park</h1>
      <br>
      <p>P+R Utrecht Science Park is een parkeergarage in hartje Utrecht. P+R Utrecht
        Science Park is een parkeergarage waar mensen hun auto kunnen parkeren om
        vervolgens het centrum van Utrecht in te gaan met de bus of metro.
      </br></br>Nog wat feiten op een rij:
      </br>
        ● P+R Utrecht Science Park (De Uithof) heeft een totaal aan 500
        parkeerplekken en is onderdeel van een overdekte parkeergarage.</br>
        ● De maximale doorrijhoogte is 1.90 meter.</br>
        ● Zowel een wachtruimte als toiletten zijn aanwezig.</br>
        ● Er zijn 28 oplaadpunten voor elektrische voertuigen. Het tarief voor het gebruik
        van deze elektrische oplaadpunten is afhankelijk van je
        abonnementsvoorwaarden.</br>
        ● Er zijn 13 parkeerplaatsen voor gehandicapten.</br>
        ● Op een P+R kun je niet van te voren een plek reserveren</p>
      </section>
      <section id="table">
        <table cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <td>Verdieping</td>
              <td>Aantal bezet</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>0</td>
              <td><%= verdieping0 %>/4</td>
            </tr>
            <tr>
              <td>1</td>
              <td><%= verdieping1 %>/4</td>
            </tr>
            <tr>
              <td>2</td>
              <td><%= verdieping2 %>/4</td>
            </tr>
            <tr>
              <td>3</td>
              <td><%= verdieping3 %>/4</td>
            </tr>
          </tbody>
        </table>
      </section>
  </body>
</html>
