<!DOCTYPE html>
<html>
  <head>
    <title>P+R Utrecht Science Park Parkeerplekken</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section id="information">
      <h1>P+R Utrecht Science Park</h1>
      <br>
      <p>P+R Utrecht Science Park is een parkeergarage in hartje Utrecht. P+R Utrecht
        Science Park is een parkeergarage waar mensen hun auto kunnen parkeren om
        vervolgens het centrum van Utrecht in te gaan met de bus of metro.
      </br></br>Nog wat handige informatie:
      </br>
        ● P+R Utrecht Science Park (De Uithof) heeft een totaal aan 500
        parkeerplekken en is onderdeel van een overdekte parkeergarage.</br>
        ● De maximale doorrijhoogte is 1.90 meter.</br>
        ● Zowel een wachtruimte als toiletten zijn aanwezig.</br>
        ● Er zijn 28 oplaadpunten voor elektrische voertuigen. Het tarief voor het gebruik
        van deze elektrische oplaadpunten is afhankelijk van je
        abonnementsvoorwaarden.</br>
        ● Er zijn 13 parkeerplaatsen voor gehandicapten.</br>
        ● Op een P+R kun je niet van te voren een plek reserveren</p>
      </section>
      <section id="table">
        <table>
          <thead>
            <tr>
              <td>Verdieping</td>
              <td>Plaats</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>0</td>
              <td>24/50</td>
            </tr>
            <tr>
              <td>1</td>
              <td>18/50</td>
            </tr>
          </tbody>
        </table>
      </section>
  </body>
</html>
